* {
    font-family: 'Poppins', sans-serif;
}

.text-color__primary{
    color: #40e5a1;
}

.v-main__wrap{
    background: black;
}

.v-navigation-drawer__content{
    background: #272727;
}

.theme--dark.v-list-item--active:hover::before, .theme--dark.v-list-item--active::before{
    background-color: #40e5a1;
}

h2{
    color: #40e5a1;
    font-size: 2.5em;
}

h3{
    color: #40e5a1;
    font-size: 2em;
}

h4{
    color: #40e5a1;
    font-size: 1.5em;
}